#headline{
color: white;
font-size: 60px;
text-align: center;


}

img{
    position:absolute;
    z-index: -1;
}

#blankStringNew{
    color: white;
    font-size: 30px;
    text-align: center;
}

#countdown{
    color:white;
    font-size:30px;
    text-align:center;
}
h2{
    color:white;
    font-size:30px;
    text-align:center;
}
 p{
     color:white;
     font-size:30px;
     text-align:center;
 }